body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #1e1e2f, #086fd6);
  color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.logo {
  
  padding-top: 2;
  width: 120px;
  margin-bottom: 10px;
  margin-top:10px;
}

.header {
  
  text-align: center;
  margin-bottom: 20px;
}

.counter-display {
  padding-top: 2;
  text-align: center;
  font-size: 3rem;
  margin: 20px 0;
  font-weight: bold;
  color: #FFF1A1;
}

.status-msg {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.card {
  background: #2a2a3d;
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.form-input {
  width: 100%;
  padding: 12px;
  margin: 8px 0 15px;
  border-radius: 6px;
  border: none;
}

button {
  background: #f24703;
  color: #151515;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
}

button:hover {
  background: #1fa89e;
}

.result-display {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 10px;
}

.footer {
  text-align: center;
  margin-top: 25px;
  font-size: 1rem;
  color: #aaa;
}

.github-icon {
  display: inline-block;
  margin-left: 8px;
  font-size: 1.4rem;
  animation: blink 1.2s infinite ease-in-out;
}

@keyframes blink {
  50% { opacity: 0; }
}

@media (max-width: 600px) {
  .counter-display {
    font-size: 2rem;
  }
}
